<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="card-container">
            <ion-card
              class="card-categories"
              id="all"
              [routerLink]="['/all-page']"
            >
              <ion-img src="../../assets/images/all.png"></ion-img>
            </ion-card>
            <div class="card-description" id="all-categories">All</div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="card-container">
            <ion-card
              class="card-categories"
              [routerLink]="['/fast-food-page']"
            >
              <ion-img src="../../assets/images/beefHamburger.png"></ion-img>
            </ion-card>
            <div class="card-description">Fast Food</div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="card-container">
            <ion-card class="card-categories" [routerLink]="['/seafood-page']">
              <ion-img src="../../assets/images/classicCrabBoil.png"></ion-img>
            </ion-card>
            <div class="card-description">Seafood</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Popular -->
    <h1 id="popular-title">Popular</h1>
    <ion-row>
      <ion-col *ngFor="let item of filterItemsByRating(menuItems, 4.5)">
        <ion-card>
          <ion-img
            (click)="navigateToDetailPage(item.id)"
            class="card-image"
            [src]="item.image"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ item.price }}</ion-card-subtitle>
            <ion-card-title id="food-title">{{ item.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
